@media only screen and (max-width: 768px){
    header .header__inner .nav__list-item{
        gap: 30px;
    }
    .caption{
        font-size: 50px;
    }
    .product{
        margin-bottom: 20px;
        .container {
            gap: 10px;
        }
        .right_site{
            .sorting_panel{
                flex-wrap: wrap;
                justify-content: center;
                .panel{
                    gap: 25px;
                    margin-bottom: 10px;
                }
            }
            .sorting_menu{
                gap: 10px;
            }
            .flower_panel {
                justify-content: center;
                .product_cart{
                    margin-bottom: 35px;
                        &:nth-child(n+4) {
                            display: none;
                        }
                }
            }
        }
    }
    .switch .switch-content{
        justify-content: center;
    }
    .more-plants{
        margin-bottom: 40px;
        .floral{
            flex-wrap: wrap;
            justify-content: center;
        }
        .succulents_content{
            margin-bottom: 50px;
        }
    }
    .blog .our-blog-cart{
        flex-wrap: wrap;
        justify-content: space-around;
        .blog-cart{
            margin-bottom: 20px;
        }
    }
    .about-us{
        flex-wrap: wrap;
        justify-content: center;
        .card-item{
            margin-bottom: 20px;
        }
        .form-title{
            text-align: center;
        }
    }
    .info-contact {
        padding: 25px 19px 19px 19px;
    }
    .footer-item{
        padding: 33px 23px 27px 23px;
        .support{
            gap: 30px;
        }
    }
}
@media only screen and (max-width: 540px){
    header nav{
        order: -1;
    }
    header .header__inner .nav__list-item{
            display: none;
        } 
    header .header__inner .mobile-menu{
            display: flex;
        }
    header .header__inner .logo_btn{
        animation: none;
    }
    header .header__inner .nav-item{
        gap: 0;
        align-items: center;
        .search-item{
            display: none;
        }
        .cart-item{
            display: none;
        }
    }
    .pic-plant{
        flex-direction: column;
    }
    .product .container{
        flex-direction: column;
        align-items: center;
        .left_site{
            margin-bottom: 31px;
            text-align: center;
            .specifications{
                margin-left: 0;
                text-align: center;
            }
            .specifications_link_size{
                margin-left: 0;
            }
            .price{
                margin-left: 0;
            }
            .filter_btn{
                margin-left: 0;
            }
            .categories-list{
                .specifications_link{
                    margin-left: 0;
                }
            }
        }
        .sorting_panel {
            align-items: baseline;
        }
    }
    .product_cart{
        text-align: center;
    }
    .floral{
        .succulents_content{
            padding-right: 5px;
        }
        .text-flower{
            max-width: 165px;
        }
    }
    .blog{
        margin-bottom: 50px;
    }
    .about-us{
        .card-item{
            flex-direction: column;
            .our-mission{
                text-align: center;
            }
            .stick{
                display: none;
            }
        }
        .form-email .form-title{
            text-align: center;
        }
    }
     .cotnacts-item{
        flex-direction: column;
     }
     .footer-item{
        flex-direction: column;
        padding: 33px 5px 27px 5px;
        .support{
            margin-bottom: 20px;
            justify-content: space-between;
            .support-item{
                margin-bottom: 15px;
             }
         }
         .social_item {
            .media-title{
                text-align: center;
            }
            .social-media-item-link{
                justify-content: center;
            }
         }
         .accept{
            .accept-title{
                text-align: center;
            }
            &::after{
                margin-left: auto;
                margin-right: auto;
            }
         }
     }
}
@media only screen and (max-width: 428px){
    .about-us .form-email .input-button{
        max-width: 300px;
        .email-for-add{
            width: 220px;
            margin-bottom: 15px;
        }
    }
    .footer-item {
        .support{
            gap: 10px;
            padding-left: 15px;
        }
    }
}
@media only screen and (max-width: 394px){
    .footer-item .support {
        gap: 12px;
        padding-left: 0;
        .support-item{
            font-size: 16px;
        }
    }
}