@media only screen and (max-width: 768px) {
  header .header__inner .nav__list-item {
    gap: 30px;
  }
  .caption {
    font-size: 50px;
  }
  .product {
    margin-bottom: 20px;
  }
  .product .container {
    gap: 10px;
  }
  .product .right_site .sorting_panel {
    flex-wrap: wrap;
    justify-content: center;
  }
  .product .right_site .sorting_panel .panel {
    gap: 25px;
    margin-bottom: 10px;
  }
  .product .right_site .sorting_menu {
    gap: 10px;
  }
  .product .right_site .flower_panel {
    justify-content: center;
  }
  .product .right_site .flower_panel .product_cart {
    margin-bottom: 35px;
  }
  .product .right_site .flower_panel .product_cart:nth-child(n+4) {
    display: none;
  }
  .switch .switch-content {
    justify-content: center;
  }
  .more-plants {
    margin-bottom: 40px;
  }
  .more-plants .floral {
    flex-wrap: wrap;
    justify-content: center;
  }
  .more-plants .succulents_content {
    margin-bottom: 50px;
  }
  .blog .our-blog-cart {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .blog .our-blog-cart .blog-cart {
    margin-bottom: 20px;
  }
  .about-us {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-us .card-item {
    margin-bottom: 20px;
  }
  .about-us .form-title {
    text-align: center;
  }
  .info-contact {
    padding: 25px 19px 19px 19px;
  }
  .footer-item {
    padding: 33px 23px 27px 23px;
  }
  .footer-item .support {
    gap: 30px;
  }
}
@media only screen and (max-width: 540px) {
  header nav {
    order: -1;
  }
  header .header__inner .nav__list-item {
    display: none;
  }
  header .header__inner .mobile-menu {
    display: flex;
  }
  header .header__inner .logo_btn {
    animation: none;
  }
  header .header__inner .nav-item {
    gap: 0;
    align-items: center;
  }
  header .header__inner .nav-item .search-item {
    display: none;
  }
  header .header__inner .nav-item .cart-item {
    display: none;
  }
  .pic-plant {
    flex-direction: column;
  }
  .product .container {
    flex-direction: column;
    align-items: center;
  }
  .product .container .left_site {
    margin-bottom: 31px;
    text-align: center;
  }
  .product .container .left_site .specifications {
    margin-left: 0;
    text-align: center;
  }
  .product .container .left_site .specifications_link_size {
    margin-left: 0;
  }
  .product .container .left_site .price {
    margin-left: 0;
  }
  .product .container .left_site .filter_btn {
    margin-left: 0;
  }
  .product .container .left_site .categories-list .specifications_link {
    margin-left: 0;
  }
  .product .container .sorting_panel {
    align-items: baseline;
  }
  .product_cart {
    text-align: center;
  }
  .floral .succulents_content {
    padding-right: 5px;
  }
  .floral .text-flower {
    max-width: 165px;
  }
  .blog {
    margin-bottom: 50px;
  }
  .about-us .card-item {
    flex-direction: column;
  }
  .about-us .card-item .our-mission {
    text-align: center;
  }
  .about-us .card-item .stick {
    display: none;
  }
  .about-us .form-email .form-title {
    text-align: center;
  }
  .cotnacts-item {
    flex-direction: column;
  }
  .footer-item {
    flex-direction: column;
    padding: 33px 5px 27px 5px;
  }
  .footer-item .support {
    margin-bottom: 20px;
    justify-content: space-between;
  }
  .footer-item .support .support-item {
    margin-bottom: 15px;
  }
  .footer-item .social_item .media-title {
    text-align: center;
  }
  .footer-item .social_item .social-media-item-link {
    justify-content: center;
  }
  .footer-item .accept .accept-title {
    text-align: center;
  }
  .footer-item .accept::after {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 428px) {
  .about-us .form-email .input-button {
    max-width: 300px;
  }
  .about-us .form-email .input-button .email-for-add {
    width: 220px;
    margin-bottom: 15px;
  }
  .footer-item .support {
    gap: 10px;
    padding-left: 15px;
  }
}
@media only screen and (max-width: 394px) {
  .footer-item .support {
    gap: 12px;
    padding-left: 0;
  }
  .footer-item .support .support-item {
    font-size: 16px;
  }
}/*# sourceMappingURL=media.css.map */