@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "cera_proregular";
  font-style: normal;
  margin: 0;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

@font-face {
  font-family: "cera_problack";
  src: url("../fonts/cerapro-black-webfont.eot");
  src: url("../fonts/cerapro-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cerapro-black-webfont.woff2") format("woff2"), url("../fonts/cerapro-black-webfont.woff") format("woff"), url("../fonts/cerapro-black-webfont.ttf") format("truetype"), url("../fonts/cerapro-black-webfont.svg#cera_problack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cera_probold";
  src: url("../fonts/cerapro-bold-webfont.eot");
  src: url("../fonts/cerapro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cerapro-bold-webfont.woff2") format("woff2"), url("../fonts/cerapro-bold-webfont.woff") format("woff"), url("../fonts/cerapro-bold-webfont.ttf") format("truetype"), url("../fonts/cerapro-bold-webfont.svg#cera_probold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cera_prolight";
  src: url("../fonts/cerapro-light-webfont.eot");
  src: url("../fonts/cerapro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cerapro-light-webfont.woff2") format("woff2"), url("../fonts/cerapro-light-webfont.woff") format("woff"), url("../fonts/cerapro-light-webfont.ttf") format("truetype"), url("../fonts/cerapro-light-webfont.svg#cera_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cera_promedium";
  src: url("../fonts/cerapro-medium-webfont.eot");
  src: url("../fonts/cerapro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cerapro-medium-webfont.woff2") format("woff2"), url("../fonts/cerapro-medium-webfont.woff") format("woff"), url("../fonts/cerapro-medium-webfont.ttf") format("truetype"), url("../fonts/cerapro-medium-webfont.svg#cera_promedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cera_proregular";
  src: url("../fonts/cerapro-regular-webfont.eot");
  src: url("../fonts/cerapro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cerapro-regular-webfont.woff2") format("woff2"), url("../fonts/cerapro-regular-webfont.woff") format("woff"), url("../fonts/cerapro-regular-webfont.ttf") format("truetype"), url("../fonts/cerapro-regular-webfont.svg#cera_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* PART_1 Прелоадер */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  animation: preloaderEffect 6s forwards;
}
.preloader::before {
  content: "";
  width: 150px;
  height: 35px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  display: flex;
  animation: preloaderSpin 2s linear infinite;
}
@keyframes preloaderEffect {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes preloaderSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*PART_2 хедер */
header {
  padding-top: 30px;
  margin-bottom: 12px;
}
header .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsla(132, 41%, 45%, 0.5);
  /*PART_3 навигация */
}
header .header__inner .logo_btn {
  margin-bottom: 18px;
  display: flex;
  animation: rotate 10s;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  70% {
    transform: rotate(250deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header .header__inner .mobile-menu {
  display: none;
  width: 50px;
  height: 23px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: relative;
  border: none;
  background: none;
  bottom: 8px;
}
header .header__inner .mobile-menu span {
  background-color: #46A358;
  height: 2px;
  width: 50px;
}
header .header__inner .nav__list-item {
  display: flex;
  gap: 50px;
  position: relative;
}
header .header__inner .nav__list-item .nav__link-item {
  /*нижнее подчеркивание для навигации при наведении мышкой*/
  /* а вот ниже мы указываем что при навидении появится наша зеленая полоска шириной 100проц */
}
header .header__inner .nav__list-item .nav__link-item .nav__link-text {
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d;
}
header .header__inner .nav__list-item .nav__link-item:hover .menu-list {
  display: block;
}
header .header__inner .nav__list-item .nav__link-item::after {
  display: block;
  width: 0;
  content: "";
  background-color: #46A358;
  height: 3px;
  margin-top: 25px;
  transition: 0.3s;
  /* транзишн дает нам плавный переход д */
}
header .header__inner .nav__list-item .nav__link-item:hover .nav__link-text {
  font-weight: 700;
  color: #3d3d3d;
}
header .header__inner .nav__list-item .nav__link-item:hover::after {
  width: 100%;
}
header .header__inner .menu-list {
  position: absolute;
  min-width: 188px;
  top: 40px;
  display: none;
  padding-top: 20px;
  z-index: 2;
}
header .header__inner .menu-list .menu-item {
  background-color: #EDF6EE;
  display: flex;
  align-items: center;
  /* PART-4 выпадашка в выпадашке */
}
header .header__inner .menu-list .menu-item:hover .popup {
  display: block;
}
header .header__inner .menu-list .menu-item:hover {
  background-color: #1A712A;
}
header .header__inner .menu-list .menu-item:hover .menu-link {
  font-family: "cera_probold";
  font-weight: 700;
  color: #fff;
}
header .header__inner .menu-list .menu-item .menu-link {
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d;
  position: relative;
  padding: 7px 0 7px 14px;
  display: block;
  width: 100%;
}
header .header__inner .menu-list .menu-item .menu-link-item::before {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url(../images/arrow-menu.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: 17px;
  bottom: 10px;
}
header .header__inner .menu-list .menu-item:hover .menu-link-item:before {
  background-image: url(../images/arrow-menu-w.svg);
  background-repeat: no-repeat;
}
header .header__inner .menu-list .menu-item .popup {
  position: absolute;
  min-width: 183px;
  left: 185px;
  top: 20px;
  padding-left: 5px;
  display: none;
}
header .header__inner .menu-list .menu-item .popup .popup-list {
  background-color: #EDF6EE;
  display: flex;
  align-items: center;
}
header .header__inner .menu-list .menu-item .popup .popup-list:hover {
  background-color: #1A712A;
}
header .header__inner .menu-list .menu-item .popup .popup-list:hover .popup-link {
  font-family: "cera_probold";
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
header .header__inner .menu-list .menu-item .popup .popup-list .popup-link {
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d;
  padding: 7px 0 8px 14px;
  display: block;
  width: 100%;
}
header .header__inner .nav-item {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 18px;
}
header .header__inner .nav-item .search-item::after {
  display: flex;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
}
header .header__inner .nav-item .cart-item::after {
  display: flex;
  content: "";
  width: 29px;
  height: 24px;
  background-image: url(../images/shop_cart.svg);
  background-repeat: no-repeat;
}
header .header__inner .nav-item .login_btn {
  border: 1px solid #46A358;
  background-color: #46A358;
  color: #fff;
  transition: background-color 2s cubic-bezier(0.1, 0.8, 0.5, 2), color 2s 1s linear;
  display: flex;
  align-items: center;
  padding: 7px 17px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  font-family: "cera_promedium";
}
header .header__inner .nav-item .login_btn:active {
  color: #46A358;
}
header .header__inner .nav-item .login_btn:hover {
  border: 1px solid #46A358;
  background-color: rgba(43, 99, 59, 0.2352941176);
  color: #46A358;
}
header .header__inner .nav-item .login_btn::before {
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 4px;
  /* используем марджин-райт вместо гап */
  background-image: url(../images/logout.svg);
  background-repeat: no-repeat;
}
header .header__inner .nav-item .login_btn:hover:before {
  background-image: url(../images/Logout-green.svg);
}

/* ниже ФУТЕР, секция с логотипом */
.info-contact {
  background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
  padding: 25px 22px 19px 22px;
}
.info-contact .cotnacts-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-contact .cotnacts-item .item-list {
  max-width: 205px;
}
.info-contact .cotnacts-item .item-list .footer_address {
  display: flex;
  align-items: center;
  gap: 9px;
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #3d3d3d;
}
.info-contact .cotnacts-item .item-list .footer_address:hover {
  color: #ffffff;
  font-weight: 600;
}
.info-contact .cotnacts-item .item-list .footer_address::before {
  display: flex;
  content: "";
  width: 30px;
  height: 20px;
  background-image: url(../images/map-icon.svg);
  background-repeat: no-repeat;
}
.info-contact .cotnacts-item .item-list .footer-tel {
  display: flex;
  gap: 8px;
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #3d3d3d;
}
.info-contact .cotnacts-item .item-list .footer-tel:hover {
  color: #ffffff;
  font-weight: 600;
}
.info-contact .cotnacts-item .item-list .footer-tel::before {
  display: flex;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../images/tel-icon.svg);
  background-repeat: no-repeat;
}
.info-contact .cotnacts-item .item-list .footer-email {
  display: flex;
  gap: 10px;
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #3d3d3d;
}
.info-contact .cotnacts-item .item-list .footer-email:hover {
  color: #ffffff;
  font-weight: 600;
}
.info-contact .cotnacts-item .item-list .footer-email::before {
  display: flex;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../images/email-icon.svg);
  background-repeat: no-repeat;
}

/* список футера, с ссылками на соцсети */
.footer-item {
  background: #FBFBFB;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  padding: 33px 155px 27px 23px;
  border-bottom: 1px solid rgba(70, 163, 88, 0.2);
}
.footer-item .support {
  display: flex;
  gap: 154px;
}
.footer-item .support .support-item {
  font-family: "cera_probold";
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  margin-bottom: 8px;
}
.footer-item .support .support-list {
  font-weight: 400;
  line-height: 214%;
  font-family: "cera_proregular";
  font-size: 14px;
}
.footer-item .support .support-list .link-support {
  color: #3d3d3d;
}
.footer-item .support .support-list .link-support:hover {
  color: #46A358;
}
.footer-item .social-media {
  /* правая часть ,  с соц медиа и ссілками на странички */
}
.footer-item .social-media .social_item {
  margin-bottom: 33px;
}
.footer-item .social-media .social_item .media-title {
  font-family: "cera_probold";
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  margin-bottom: 20px;
}
.footer-item .social-media .social_item .social-media-item-link {
  display: flex;
  gap: 10px;
}
.footer-item .social-media .social_item .social-media-item-link .social-icon::after {
  content: "";
  width: 32px;
  height: 32px;
  display: flex;
  background-image: url(../images/icon-fb.svg);
  background-repeat: no-repeat;
}
.footer-item .social-media .social_item .social-media-item-link .social-icon:hover::after {
  background-image: url(../images/icon-fb-hover.svg);
}
.footer-item .social-media .social_item .social-media-item-link .social-icon-inst::after {
  content: "";
  width: 32px;
  height: 32px;
  display: flex;
  background-image: url(../images/icon-ig.svg);
  background-repeat: no-repeat;
}
.footer-item .social-media .social_item .social-media-item-link .social-icon-inst:hover::after {
  background-image: url(../images/icon-ig-hover.svg);
}
.footer-item .social-media .social_item .social-media-item-link .social-icon3-tt::after {
  content: "";
  width: 32px;
  height: 32px;
  display: flex;
  background-image: url(../images/icon-tt.svg);
  background-repeat: no-repeat;
}
.footer-item .social-media .social_item .social-media-item-link .social-icon3-tt:hover::after {
  background-image: url(../images/icon-tt-hover.svg);
}
.footer-item .social-media .social_item .social-media-item-link .social-icon-in::after {
  content: "";
  width: 32px;
  height: 32px;
  display: flex;
  background-image: url(../images/icon-in.svg);
  background-repeat: no-repeat;
}
.footer-item .social-media .social_item .social-media-item-link .social-icon-in:hover::after {
  background-image: url(../images/icon-in-hover.svg);
}
.footer-item .social-media .social_item .social-media-item-link .social-icon-yt::after {
  content: "";
  width: 32px;
  height: 32px;
  display: flex;
  background-image: url(../images/icon-yt.svg);
  background-repeat: no-repeat;
}
.footer-item .social-media .social_item .social-media-item-link .social-icon-yt:hover::after {
  background-image: url(../images/icon-yt-hover.svg);
}
.footer-item .social-media .accept::after {
  content: "";
  width: 224px;
  height: 26px;
  display: flex;
  background-image: url(../images/icon-paypal.png);
  background-repeat: no-repeat;
}
.footer-item .social-media .accept .accept-title {
  font-family: "cera_probold";
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  margin-bottom: 13px;
}

/* самый последний текст, строчка про права сайта */
.Rights-Reserved {
  text-align: center;
}
.Rights-Reserved .Rights-Reserved-title {
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #3d3d3d;
}

/* ниже стили для 1й секции */
.intro {
  margin-bottom: 25px;
}
.intro .owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
}
.intro .owl-carousel .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  text-align: center;
  display: flex;
  border: 10px solid rgba(87, 150, 87, 0.578);
  margin: 10px;
  border-radius: 10px;
}
.intro .owl-carousel .owl-dots .owl-dot.active span {
  border-color: #46A358;
}
.intro .owl-carousel .pic-plant {
  display: flex;
  justify-content: space-between;
  background-color: #FAFAFA;
}
.intro .owl-carousel .pic-plant .banner-left-site {
  padding: 68px 10px 85px 43px;
  display: inline-block;
}
.intro .owl-carousel .pic-plant .banner-left-site .text-welcome {
  font-family: "cera_promedium";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  /* letter-spacing это интервал  между буквами, 
  text-transform: uppercase; — все буквы текста в заглавные */
  color: #3d3d3d;
  margin-bottom: 7px;
}
.intro .owl-carousel .pic-plant .banner-left-site .caption {
  font-family: "cera_problack";
  font-weight: 900;
  font-size: 70px;
  line-height: 100%;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 5px;
  max-width: 530px;
}
.intro .owl-carousel .pic-plant .banner-left-site .caption .plant_color {
  color: #46A358;
}
.intro .owl-carousel .pic-plant .banner-left-site .title {
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #727272;
  margin-bottom: 44px;
  max-width: 557px;
}
.intro .owl-carousel .pic-plant .banner-left-site .shop_btn {
  border: 1px solid #46A358;
  background-color: #46A358;
  color: #fff;
  transition: background-color 2s cubic-bezier(0.1, 0.8, 0.5, 2), color 2s 1s linear;
  display: inline-flex;
  font-family: "cera_probold";
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  border-radius: 6px;
  padding: 10px 26px;
}
.intro .owl-carousel .pic-plant .banner-left-site .shop_btn:active {
  color: #46A358;
}
.intro .owl-carousel .pic-plant .banner-left-site .shop_btn:hover {
  border: 1px solid #46A358;
  background-color: rgba(43, 99, 59, 0.2352941176);
  color: #46A358;
}
.intro .owl-carousel .pic-plant .pic-banner-right-site img {
  width: 100%;
  height: 100%;
}

/*стили для второй секции product*/
.product {
  margin-bottom: 90px;
}
.product .container {
  display: flex;
  justify-content: space-between;
}
.product .left_site {
  max-width: 310px;
  max-height: 1205px;
  background-color: #FAFAFA;
  padding-top: 14px;
}
.product .left_site .specifications {
  font-family: "cera_probold";
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  margin-left: 18px;
  margin-bottom: 7px;
}
.product .left_site .categories-list {
  margin-bottom: 36px;
}
.product .left_site .categories-list .specifications_link {
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 15px;
  line-height: 267%;
  color: #3d3d3d;
  margin-left: 30px;
}
.product .left_site .categories-list .specifications_link:hover {
  color: #46a358;
}
.product .left_site .categories-list .specifications_link:active {
  color: #727272;
}
.product .left_site .price {
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 15px;
  line-height: 107%;
  color: #3d3d3d;
  margin: 15px 0 16px 30px;
}
.product .left_site .filter_btn {
  border: 1px solid #46A358;
  background-color: #46A358;
  color: #fff;
  transition: background-color 2s cubic-bezier(0.1, 0.8, 0.5, 2), color 2s 1s linear;
  border-radius: 6px;
  width: 90px;
  height: 35px;
  font-family: "cera_probold";
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  margin-left: 30px;
  margin-bottom: 46px;
}
.product .left_site .filter_btn:active {
  color: #46A358;
}
.product .left_site .filter_btn:hover {
  border: 1px solid #46A358;
  background-color: rgba(43, 99, 59, 0.2352941176);
  color: #46A358;
}
.product .left_site .specifications-size {
  margin-bottom: 19px;
}
.product .left_site .specifications-size .specifications_link_size {
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 15px;
  line-height: 267%;
  color: #3d3d3d;
  margin-left: 30px;
}
.product .left_site .specifications-size .specifications_link_size:hover {
  color: #46a358;
}
.product .left_site .specifications-size .specifications_link_size:active {
  color: #727272;
}
.product .right_site {
  max-width: 840px;
}
.product .right_site .sorting_panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 31px;
  /* планочка сортировки цветов */
}
.product .right_site .sorting_panel .panel {
  display: flex;
  gap: 40px;
}
.product .right_site .sorting_panel .panel .link_flower {
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 15px;
  line-height: 107%;
  color: #3d3d3d;
  /* ниже нав-линк-айтем-афтер создаем нижнее подчеркивание для   навигации при наведении мышкой) для тел.адапт можно использовать вместо наведения ховер-актив, как я уже делала кнопки*/
  /* а вот ниже мы указываем что при навидении появится наша зеленая полоска шириной 100проц */
}
.product .right_site .sorting_panel .panel .link_flower::after {
  display: block;
  width: 0;
  content: "";
  background-color: #46A358;
  height: 3px;
  margin-top: 7px;
  transition: 0.3s;
  /* транзишн дает нам плавный переход д */
}
.product .right_site .sorting_panel .panel .link_flower:hover::after {
  width: 100%;
}
.product .right_site .sorting_panel .panel .link_flower:hover {
  color: #46a358;
}
.product .right_site .sorting_panel .panel .link_flower:active {
  color: #727272;
}
.product .right_site .sorting_panel .sorting_menu {
  display: flex;
  gap: 30px;
  margin-bottom: 7px;
}
.product .right_site .sorting_panel .sorting_menu .sorting-title {
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 15px;
  line-height: 107%;
  color: #3d3d3d;
  align-items: center;
}
.product .right_site .sorting_panel .sorting_menu .sorting-nav {
  position: relative;
}
.product .right_site .sorting_panel .sorting_menu .sorting-nav .sorting-list:hover .arrow-btn {
  color: #000000;
  font-weight: 400;
}
.product .right_site .sorting_panel .sorting_menu .sorting-nav .sorting-list .arrow-btn {
  display: flex;
  font-family: "cera_proregular";
  border: none;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 15px;
  line-height: 107%;
  color: #3d3d3d;
  cursor: pointer;
}
.product .right_site .sorting_panel .sorting_menu .sorting-nav .sorting-list .arrow-btn::after {
  content: "";
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
}
.product .right_site .sorting_panel .sorting_menu .sorting-nav .sorting-list .sort-menu {
  padding-top: 20px;
  position: absolute;
  z-index: 2;
  display: none;
  right: 0px;
}
.product .right_site .sorting_panel .sorting_menu .sorting-nav .sorting-list .sort-menu .sort-item {
  background-color: #EDF6EE;
  display: flex;
  align-items: center;
}
.product .right_site .sorting_panel .sorting_menu .sorting-nav .sorting-list .sort-menu .sort-item:hover {
  background: #1a712a;
}
.product .right_site .sorting_panel .sorting_menu .sorting-nav .sorting-list .sort-menu .sort-item:hover .link-menu-sort-flower {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  font-family: "cera_probold";
}
.product .right_site .sorting_panel .sorting_menu .sorting-nav .sorting-list .sort-menu .sort-item .link-menu-sort-flower {
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d;
  width: 180px;
  padding: 7px 0 7px 14px;
}
.product .right_site .sorting_panel .sorting_menu .sorting-nav:hover .sort-menu {
  display: block;
}
.product .right_site .flower_panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*  пишем бордер топ и к нему трансперент(не в ховере) чтобы при наведении не "скакало" изображение */
  /*наша скидка 13% примыкает к тому , у кого есть  position: relative; , потому что наша скидка имеет позишн абсолют, если ни у кого не будет  position: relative; , то скидка примкнет к началу контейнера */
}
.product .right_site .flower_panel .product_cart {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  position: relative;
  z-index: 1;
  border-top: 1px solid transparent;
  /* убрала марджин боттом у трех последних карточек */
  /* ниже стили -  при наведении на карточки с цветами всплывающие элементы */
}
.product .right_site .flower_panel .product_cart:hover {
  border-top: 1px solid #46a359;
}
.product .right_site .flower_panel .product_cart:nth-child(7) {
  margin-bottom: 0;
}
.product .right_site .flower_panel .product_cart:nth-child(8) {
  margin-bottom: 0;
}
.product .right_site .flower_panel .product_cart:nth-child(9) {
  margin-bottom: 0;
}
.product .right_site .flower_panel .product_cart .images_flower-cart {
  margin-bottom: 12px;
}
.product .right_site .flower_panel .product_cart:hover .user-icon {
  display: block;
}
.product .right_site .flower_panel .product_cart .user-icon {
  display: none;
}
.product .right_site .flower_panel .product_cart .user-icon .user-item .icon-cart::before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url(../images/shop_cart.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-color: #ffffff;
  background-position: center;
  border-radius: 4px;
  padding: 8px 7px;
  bottom: 57px;
  left: 67px;
}
.product .right_site .flower_panel .product_cart .user-icon .user-item .icon-cart:hover::before {
  background-image: url(../images/shop-green.svg);
}
.product .right_site .flower_panel .product_cart .user-icon .user-item .icon-like::before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url(../images/heart-like.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-color: #ffffff;
  background-position: center;
  border-radius: 4px;
  padding: 8px 7px;
  bottom: 57px;
  right: 111px;
}
.product .right_site .flower_panel .product_cart .user-icon .user-item .icon-like:hover::before {
  background-image: url(../images/heart-green.svg);
}
.product .right_site .flower_panel .product_cart .user-icon .user-item .icon-srarch::before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-color: #ffffff;
  background-position: center;
  border-radius: 4px;
  padding: 8px 7px;
  bottom: 57px;
  right: 66px;
}
.product .right_site .flower_panel .product_cart .user-icon .user-item .icon-srarch:hover::before {
  background-image: url(../images/search-green.svg);
}
.product .right_site .flower_panel .product_cart .sale-icon {
  background-color: #46A358;
  padding: 6px 8px;
  width: 80px;
  font-family: "cera_promedium";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  position: absolute;
  top: 14px;
  left: 2px;
}
.product .right_site .flower_panel .product_cart .name-flower_cart {
  font-family: "cera_proregular";
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #3d3d3d;
}
.product .right_site .flower_panel .product_cart .name-flower_cart:hover {
  color: #46a358;
}
.product .right_site .flower_panel .product_cart .flower-price {
  font-family: "cera_probold";
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #46a358;
}
.product .right_site .flower_panel .product_cart .old-price {
  color: #A5A5A5;
  text-decoration: line-through;
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 18px;
  line-height: 89%;
  margin-left: 16px;
}

/* секция №3----1,2,3,4,5 переключатель между страничками */
.switch {
  margin-bottom: 94px;
}
.switch .switch-content {
  display: flex;
  justify-content: end;
}
.switch .switch-content .switch_list {
  display: flex;
  gap: 10px;
}
.switch .switch-content .switch_list .switch-nomber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  color: #3d3d3d;
  font-weight: 300;
  font-size: 18px;
  font-family: "cera_prolight";
}
.switch .switch-content .switch_list .switch-nomber:hover {
  background-color: #46A358;
  border: 1px solid #46A358;
  color: #ffffff;
  font-weight: 700;
  font-family: "cera_probold";
}
.switch .switch-content .switch_list .arrow-switch {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
.switch .switch-content .switch_list .arrow-switch::after {
  content: "";
  width: 8px;
  height: 13px;
  background-image: url(../images/switch_arrow_b.svg);
  background-repeat: no-repeat;
}
.switch .switch-content .switch_list .arrow-switch:hover::after {
  background-color: #46A358;
  background-image: url(../images/switch_arrow_w.svg);
  background-repeat: no-repeat;
}

/* ниже стили для секции 4й два цветка */
.more-plants {
  margin-bottom: 142px;
}
.more-plants .floral {
  display: flex;
  justify-content: space-between;
}
.more-plants .floral .succulents_content {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #FBFBFB;
  max-width: 586px;
  padding: 37px 30px 46px 0;
  width: 100%;
  position: relative;
}
.more-plants .floral .succulents_content .find-more-icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.more-plants .floral .succulents_content .title-flower {
  font-family: "cera_problack";
  font-weight: 900;
  font-size: 18px;
  line-height: 133%;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 9px;
  text-align: right;
}
.more-plants .floral .succulents_content .text-flower {
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #727272;
  margin-bottom: 25px;
  text-align: end;
}
.more-plants .floral .succulents_content .find_btn_link {
  display: flex;
  justify-content: right;
}
.more-plants .floral .succulents_content .find_btn_link .find_link {
  border: 1px solid #46A358;
  background-color: #46A358;
  color: #fff;
  transition: background-color 2s cubic-bezier(0.1, 0.8, 0.5, 2), color 2s 1s linear;
  font-family: "cera_promedium";
  font-weight: 500;
  font-size: 14px;
  border-radius: 6px;
  line-height: 143%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
}
.more-plants .floral .succulents_content .find_btn_link .find_link:active {
  color: #46A358;
}
.more-plants .floral .succulents_content .find_btn_link .find_link:hover {
  border: 1px solid #46A358;
  background-color: rgba(43, 99, 59, 0.2352941176);
  color: #46A358;
}
.more-plants .floral .succulents_content .find_btn_link .find_link::after {
  content: "";
  width: 20px;
  height: 15px;
  background-image: url(../images/find_arrow.svg);
  background-repeat: no-repeat;
  margin-left: 5px;
}

/*5 ниже это стили для Our Blog */
.blog {
  margin-bottom: 100px;
}
.blog .blog-content {
  text-align: center;
}
.blog .blog-content .blog-title {
  font-family: "cera_probold";
  font-weight: 700;
  font-size: 30px;
  line-height: 53%;
  text-align: center;
  color: #3d3d3d;
  margin-bottom: 15px;
}
.blog .blog-content .blog-text {
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  color: #727272;
  margin-bottom: 35px;
}
.blog .our-blog-cart {
  display: flex;
  justify-content: space-between;
}
.blog .our-blog-cart .blog-cart {
  background-color: #FBFBFB;
  width: 268px;
}
.blog .our-blog-cart .blog-cart .blog-img {
  margin-bottom: 9px;
}
.blog .our-blog-cart .ourblog-text {
  margin-left: 15px;
  margin-bottom: 13px;
}
.blog .our-blog-cart .ourblog-text .blog-text-cart {
  font-family: "cera_promedium";
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: #46a358;
}
.blog .our-blog-cart .ourblog-text .title-cart {
  font-family: "cera_probold";
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #3d3d3d;
  width: 202px;
  margin-bottom: 4px;
}
.blog .our-blog-cart .ourblog-text .our-blog-text {
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #727272;
  width: 242px;
  margin-bottom: 9px;
}
.blog .our-blog-cart .ourblog-text .blog-link {
  font-family: "cera_promedium";
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: #3d3d3d;
  display: flex;
  align-items: center;
}
.blog .our-blog-cart .ourblog-text .blog-link::after {
  content: "";
  width: 16px;
  height: 13px;
  margin-left: 3px;
  background-image: url(../images/blog-arrow.svg);
  background-repeat: no-repeat;
}
.blog .our-blog-cart .ourblog-text .blog-link:hover:after {
  background-image: url(../images/blog-arrow-green.svg);
  background-repeat: no-repeat;
}
.blog .our-blog-cart .ourblog-text .blog-link:hover {
  color: #46a358;
}

.accordion-js {
  margin-bottom: 50px;
}
.accordion-js .ui-accordion .ui-accordion-header {
  background-color: transparent;
  padding: 20px 10px;
  border: solid 1px black;
  border-radius: 16px;
  color: black;
}
.accordion-js .ui-accordion .ui-accordion-header.ui-state-active {
  border-radius: 16px 16px 1px 1px;
  border-bottom: none;
}
.accordion-js .ui-accordion .ui-accordion-content {
  border: solid 1px black;
  border-radius: 1px 1px 16px 16px;
  border-top: none;
}
.accordion-js .ui-state-active, .accordion-js .ui-widget-content .ui-state-active, .accordion-js .ui-widget-header .ui-state-active, .accordion-js a.ui-button:active, .accordion-js .ui-button:active, .accordion-js .ui-button.ui-state-active:hover {
  color: #000;
}
.accordion-js .ui-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: none;
  background-position: inherit;
  text-indent: 0;
  margin-top: 0;
  width: 32px;
  height: 32px;
}
.accordion-js .ui-icon::before {
  content: "";
  width: 32px;
  height: 32px;
  display: block;
  background-image: url(https://www.limitlessx.com/cdn/shop/t/68/assets/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.accordion-js .ui-accordion .ui-accordion-header.ui-state-active .ui-icon {
  transform: rotate(180deg);
  transition: 0.5s;
}
.accordion-js .ui-accordion .ui-accordion-header.ui-state-hover .ui-icon {
  background-image: none;
}

/*6 ниже секция с эмейл и три карточки */
.about-us {
  display: flex;
  justify-content: space-between;
  background-color: #FBFBFB;
  padding: 24px 25px;
  align-items: center;
}
.about-us .card-item {
  max-width: 734px;
  display: flex;
  gap: 30px;
}
.about-us .card-item .our-mission {
  max-width: 204px;
}
.about-us .card-item .our-mission .images_icon {
  margin-bottom: 15px;
}
.about-us .card-item .our-mission .our-mission_title {
  font-family: "cera_probold";
  font-weight: 700;
  font-size: 17px;
  line-height: 94%;
  color: #3d3d3d;
  margin-bottom: 9px;
}
.about-us .card-item .our-mission .our-mission_subtitle {
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #727272;
  max-width: 204px;
}
.about-us .form-email {
  margin-top: 13px;
  max-width: 354px;
}
.about-us .form-email .form-title {
  font-family: "cera_probold";
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  text-align: right;
  margin-bottom: 25px;
}
.about-us .form-email .input-button {
  display: flex;
  justify-content: end;
}
.about-us .form-email .input-button .email-for-add {
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #2f703c;
  padding-left: 11px;
  width: 268px;
  height: 40px;
  border: none;
  border-radius: 6px 0 0 6px;
  background-color: #fff;
  margin-bottom: 17px;
}
.about-us .form-email .input-button .email-for-add::-moz-placeholder {
  color: #acacac;
}
.about-us .form-email .input-button .email-for-add::placeholder {
  color: #acacac;
}
.about-us .form-email .input-button .button_join {
  border: 1px solid #46A358;
  background-color: #46A358;
  color: #fff;
  transition: background-color 2s cubic-bezier(0.1, 0.8, 0.5, 2), color 2s 1s linear;
  font-family: "cera_probold";
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  width: 85px;
  height: 40px;
  border-radius: 0 6px 6px 0;
}
.about-us .form-email .input-button .button_join:active {
  color: #46A358;
}
.about-us .form-email .input-button .button_join:hover {
  border: 1px solid #46A358;
  background-color: rgba(43, 99, 59, 0.2352941176);
  color: #46A358;
}
.about-us .form-email .form-subtitle {
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 13px;
  line-height: 169%;
  color: #727272;
  max-width: 354px;
}
.about-us .stick {
  width: 1px;
  max-height: 187px;
  background: rgba(70, 163, 88, 0.1);
}

/* ниже это стили для хтмл регистрация */
.registration {
  max-width: 500px;
  height: 656px;
  border: 1px solid rgba(0, 0, 0, 0.2509803922);
  margin: auto;
  margin-top: 35px;
}
.registration .login {
  font-family: "cera_promedium";
  font-weight: 500;
  font-size: 20px;
  color: #191616;
  margin-top: 52px;
  margin-bottom: 40px;
  text-align: center;
}
.registration .login .line {
  color: #3d3d3d;
  padding-left: 10px;
  padding-right: 12px;
}
.registration .login .register-title {
  font-family: "cera_promedium";
  font-weight: 500;
  font-size: 20px;
  line-height: 80%;
  color: #46a358;
}
.registration .text_register {
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 13px;
  color: #3d3d3d;
  text-align: center;
  padding-bottom: 14px;
}
.registration .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}
.registration .form .input {
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 14px;
  width: 300px;
  height: 40px;
  margin-bottom: 16px;
  padding-left: 12px;
  box-sizing: border-box;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
}
.registration .button_register {
  display: flex;
  justify-content: center;
}
.registration .button_register .submit-button {
  font-family: "cera_promedium";
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #46A358;
  width: 300px;
  height: 45px;
  margin-bottom: 36px;
  cursor: pointer;
  color: #ffffff;
}
.registration .button_register .submit-button:active {
  color: rgba(0, 0, 0, 0.5803921569);
}
.registration .button_register .submit-button:hover {
  border: 1px solid #46A358;
  background-color: rgba(43, 99, 59, 0.2352941176);
  color: #46a358;
}
.registration .register_google_fb {
  font-family: "cera_proregular";
  font-weight: 400;
  font-size: 13px;
  color: #3d3d3d;
  text-align: center;
  margin-bottom: 27px;
}
.registration .link_register {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registration .link_register .google_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 40px;
  margin-bottom: 15px;
  gap: 9px;
  font-family: "cera_promedium";
  font-weight: 500;
  font-size: 13px;
  color: #727272;
  text-decoration: none;
  list-style-type: none;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
}
.registration .link_register .google_link:hover {
  background-color: rgba(107, 107, 107, 0.2941176471);
  color: #ffffff;
}
.registration .link_register .facebook_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 40px;
  gap: 4px;
  list-style-type: none;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  font-family: "cera_promedium";
  font-weight: 500;
  font-size: 13px;
  color: #727272;
  text-decoration: none;
  margin-bottom: 41px;
}
.registration .link_register .facebook_link:hover {
  background-color: rgba(107, 107, 107, 0.2941176471);
  color: #ffffff;
}
.registration .footer-line {
  background-color: #46A358;
  width: 100%;
  height: 10px;
}/*# sourceMappingURL=style_prep.css.map */