html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400, 500, 600, 800; 
    font-style: normal;
    background: #ffffff;
    margin: 0;
}
header{
    padding-top: 30px;
    margin-bottom: 12px;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hwb(132 27% 36% / 0.5);
}
.logo_btn{
    margin-bottom: 18px;
}
.nav__list-item{
    display: flex;
    gap: 50px;
}



/* ниже нав-линк-айтем-афтер создаем нижнее подчеркивание для навигации при наведении мышкой) для тел.адапт можно использовать вместо наведения ховер-актив, как я уже делала кнопки*/
.nav__link-item::after{
    display: block;
    width: 0;
    content: "";
    background-color: #46A358;
    height: 3px;
    margin-top: 25px;
    transition: 0.3s;
    /* транзишн дает нам плавный переход д */
}
/* а вот ниже мы указываем что при навидении появится наша зеленая полоска шириной 100проц */
.nav__link-item:hover::after{
    width: 100%;
}
.nav__link-text{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}
.nav__link-text:active{
    color: #00000094;
}
.nav__link-text:hover{
    color: #46a358;
}
.nav-item{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 18px;
}
.login_btn{
    display: flex;
    align-items: center;
    padding: 7px 17px;
    border: 1px solid #46A358;
    border-radius: 6px;
    background-color: #46A358;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}
.login_btn::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    /* используем марджин-райт вместо гап */
    background-image: url(../images/logout.svg);
}
.login_btn:active{
    color: #00000094;
}
.login_btn:hover{
    border: 1px solid #46A358;
    background-color: #2b633b3c;
    color: #46a358;
}

/* ниже стили для 1й секции */
.pic-plant{
    display: flex;
    justify-content: space-between;
    background-image: url(../images/bg_1.png);
}
.text-welcome{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    /* letter-spacing это интервал  между буквами, text-transform: uppercase; — все буквы текста в заглавные */
    color: #3d3d3d;
    margin: 68px 0 7px 43px;
}
.caption{
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin: 7px 0 5px 40px;
    max-width: 530px;
}
.plant_color{
    color: #46a358;
}
.title{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin: 0 0 44px 40px;
    max-width: 557px;
}
.shop_btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    margin-left: 41px;
    background-color: #46A358;
    border-radius: 6px;
    padding: 10px 26px;
}
.shop_btn:active{
    color: #00000094;
}
.shop_btn:hover{
    border: 1px solid #46A358;
    background-color: #2b633b3c;
    color: #46a358;
}



/*стили для второй секции product*/
.product .container{
    display: flex;
    justify-content: space-between;
}
.left_site{
    max-width: 310px;
}
.right_site{
    max-width: 840px;
}
.line_nn{
    display: flex; 
    gap: 40px;
}
.sorting_panel{
    display: flex;
    justify-content: space-between;
}
.sorting_menu{
    display: flex;
    gap: 30px;
}
.flower_panel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product_cart{
    display: flex;
    flex-direction: column;
}











/* ниже это стили для хтмл регистрация */

.registration{
    max-width: 500px;
    height: 656px;
    border: 1px solid #000000;
    margin: auto;
    margin-top: 35px;
}
.login{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #191616;
    margin-top: 52px;
    margin-bottom: 40px;
    text-align: center;
}
.line{
    color: #3d3d3d;
    padding-left: 10px;
    padding-right: 12px;
}
.register{
    color: #46A358;
}
.text_register{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #3d3d3d;
    text-align: center;
    padding-bottom: 14px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
.input{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 300px;
    height: 40px;
    margin-bottom: 16px;
    padding-left: 12px;
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
}
.button_register{
    display: flex;
    justify-content: center;
}
.submit-button{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #46A358;
    width: 300px;
    height: 45px;
    margin-bottom: 36px;
    cursor: pointer;
    color: #ffffff;
}
.submit-button:active{
    color: #00000094;
}
.submit-button:hover{
    border: 1px solid #46A358;
    background-color: #2b633b3c;
    color: #46a358;
}
.span_text{
    color: #FFFFFF;
}
.register_google_fb{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #3d3d3d;
    text-align: center;
    margin-bottom: 27px;
}
.link_register{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.google_link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    gap: 9px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #727272;
    text-decoration: none;
    list-style-type: none;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
}
.facebook_link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    gap: 4px;
    margin-top: 20px;
    list-style-type: none;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #727272;
    text-decoration: none;
}
.footer-line {
    margin-top: 36px;
    background-color: #46A358;
    width: 100%;
    height: 10px;
}