@font-face {
    font-family: 'cera_prothin';
    src: url('../fonts/cerapro-thin-webfont.eot');
    src: url('../fonts/cerapro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cerapro-thin-webfont.woff2') format('woff2'),
         url('../fonts/cerapro-thin-webfont.woff') format('woff'),
         url('../fonts/cerapro-thin-webfont.ttf') format('truetype'),
         url('../fonts/cerapro-thin-webfont.svg#cera_prothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cera_problack';
    src: url('../fonts/cerapro-black-webfont.eot');
    src: url('../fonts/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cerapro-black-webfont.woff2') format('woff2'),
         url('../fonts/cerapro-black-webfont.woff') format('woff'),
         url('../fonts/cerapro-black-webfont.ttf') format('truetype'),
         url('../fonts/cerapro-black-webfont.svg#cera_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cera_probold';
    src: url('../fonts/cerapro-bold-webfont.eot');
    src: url('../fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cerapro-bold-webfont.woff2') format('woff2'),
         url('../fonts/cerapro-bold-webfont.woff') format('woff'),
         url('../fonts/cerapro-bold-webfont.ttf') format('truetype'),
         url('../fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cera_prolight';
    src: url('../fonts/cerapro-light-webfont.eot');
    src: url('../fonts/cerapro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cerapro-light-webfont.woff2') format('woff2'),
         url('../fonts/cerapro-light-webfont.woff') format('woff'),
         url('../fonts/cerapro-light-webfont.ttf') format('truetype'),
         url('../fonts/cerapro-light-webfont.svg#cera_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cera_promedium';
    src: url('../fonts/cerapro-medium_1-webfont.eot');
    src: url('../fonts/cerapro-medium_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cerapro-medium_1-webfont.woff2') format('woff2'),
         url('../fonts/cerapro-medium_1-webfont.woff') format('woff'),
         url('../fonts/cerapro-medium_1-webfont.ttf') format('truetype'),
         url('../fonts/cerapro-medium_1-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cera_promedium';
    src: url('../fonts/cerapro-medium-webfont.eot');
    src: url('../fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cerapro-medium-webfont.woff2') format('woff2'),
         url('../fonts/cerapro-medium-webfont.woff') format('woff'),
         url('../fonts/cerapro-medium-webfont.ttf') format('truetype'),
         url('../fonts/cerapro-medium-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cera_proregular';
    src: url('../fonts/cerapro-regular-webfont.eot');
    src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
         url('../fonts/cerapro-regular-webfont.woff') format('woff'),
         url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
         url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'cera_proregular';
    font-style: normal;
    background: #ffffff;
    margin: 0;
}
header{
    padding-top: 30px;
    margin-bottom: 12px;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hwb(132 27% 36% / 0.5);
}
.logo_btn{
    margin-bottom: 18px;
}
.nav__list-item{
    display: flex;
    gap: 50px;
}



/* ниже нав-линк-айтем-афтер создаем нижнее подчеркивание для навигации при наведении мышкой) для тел.адапт можно использовать вместо наведения ховер-актив, как я уже делала кнопки*/
.nav__link-item::after{
    display: block;
    width: 0;
    content: "";
    background-color: #46A358;
    height: 3px;
    margin-top: 25px;
    transition: 0.3s;
    /* транзишн дает нам плавный переход д */
}
/* а вот ниже мы указываем что при навидении появится наша зеленая полоска шириной 100проц */
.nav__link-item:hover::after{
    width: 100%;
}
.nav__link-text{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}
.nav__link-text:active{
    color: #00000094;
}
.nav__link-text:hover{
    color: #46a358;
}
.nav-item{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 18px;
}
.login_btn{
    display: flex;
    align-items: center;
    padding: 7px 17px;
    border: 1px solid #46A358;
    border-radius: 6px;
    background-color: #46A358;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}
.login_btn::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    /* используем марджин-райт вместо гап */
    background-image: url(../images/logout.svg);
}
.login_btn:active{
    color: #00000094;
}
.login_btn:hover{
    border: 1px solid #46A358;
    background-color: #2b633b3c;
    color: #46a358;
}

/* ниже стили для 1й секции */
.intro{
    margin-bottom: 25px;
}
.pic-plant{
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
}
.text-welcome{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    /* letter-spacing это интервал  между буквами, text-transform: uppercase; — все буквы текста в заглавные */
    color: #3d3d3d;
    margin: 68px 0 7px 43px;
}
.caption{
    font-weight: 700;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin: 7px 0 5px 40px;
    max-width: 530px;
}
.plant_color{
    color: #46a358;
}
.title{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin: 0 0 44px 40px;
    max-width: 557px;
}
.shop_btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    margin-left: 41px;
    background-color: #46A358;
    border-radius: 6px;
    padding: 10px 26px;
}
.shop_btn:active{
    color: #00000094;
}
.shop_btn:hover{
    border: 1px solid #46A358;
    background-color: #2b633b3c;
    color: #46a358;
}



/*стили для второй секции product*/
.product{
    margin-bottom: 20px;
}
.product .container{
    display: flex;
    justify-content: space-between;
}
.left_site{
    max-width: 310px; 
    max-height: 740px;
    background-color: #FAFAFA;
    padding-top: 14px;
}
.right_site{
    max-width: 840px;
}
.sorting_panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;
}
.panel{
    display: flex; 
    gap: 40px;
}
.sorting_menu{
    display: flex;
    gap: 30px;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    align-items: center;
    margin-bottom: 7px;
}

.specifications{
    font-family: 'cera_proregular';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-left: 18px;
    margin-bottom: 7px;
}
.categories-list{
    margin-bottom: 36px;
}
.specifications_link{
    
    font-weight: 400;
    font-size: 15px;
    line-height: 267%;
    color: #3d3d3d;
    margin-left: 30px;
}
.specifications_link:hover{
    color: #46a358;
}
.specifications_link:active{
    color: #727272;
}
.specifications-size{
    margin-bottom: 19px;
}
.price{
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    margin: 15px 0 16px 30px;
}
.filter_btn{
    border-radius: 6px;
    border: none;
    width: 90px;
    height: 35px;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #fff;
    background-color: #46a358;
    margin-left: 30px;
    margin-bottom: 46px;
}
.filter_btn:active{
    color: #00000094;
}
.filter_btn:hover{
    border: 1px solid #46A358;
    background-color: #2b633b3c;
    color: #46a358;
    cursor: pointer;
}
.link_flower{
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}
/* ниже нав-линк-айтем-афтер создаем нижнее подчеркивание для навигации при наведении мышкой) для тел.адапт можно использовать вместо наведения ховер-актив, как я уже делала кнопки*/
.link_flower::after{
    display: block;
    width: 0;
    content: "";
    background-color: #46A358;
    height: 3px;
    margin-top: 7px;
    transition: 0.3s;
    /* транзишн дает нам плавный переход д */
}
/* а вот ниже мы указываем что при навидении появится наша зеленая полоска шириной 100проц */
.link_flower:hover::after{
    width: 100%;
}
.link_flower:hover{
    color: #46a358;
}
.link_flower:active{
    color: #727272;
}
.arrow-btn{
    border: none;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    display: flex;
    cursor: pointer;
}
.flower_panel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product_cart{
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}
.images_flower-cart{
    margin-bottom: 12px;
}
.name-flower_cart{
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
}
.name-flower_cart:hover{
    color: #46a358;
}
.flower-price{
    font-weight: 500;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
}
.old-price{
    color: #A5A5A5;
    text-decoration: line-through;
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    margin-left: 16px;
}









.switch{
    margin-bottom: 94px;
}
.switch-content{
    display: flex;
    justify-content: end;
}
.switch_list{
    display: flex;
    gap: 10px;
}

.switch-nomber{
    display: flex; 
    justify-content: center;  
    align-items: center;
    width: 35px;  
    height: 35px; 
    border: 1px solid #e5e5e5;
    border-radius: 4px; 
    color: #3d3d3d;
    font-weight: 300;
    font-size: 18px;
}
.switch-nomber:hover{
    background-color: #46A358;
    border: 1px solid #46A358;
    color: #ffffff;
    font-weight: 700; 
}
.arrow-switch{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    background-image: url(../images/switch_arrow_b.svg);
    background-repeat: no-repeat;
    background-position: center;
    /* задала стрелочке центр */
}
.arrow-switch:hover{
    background-image: url(../images/switch_arrow_w.svg);
    background-repeat: no-repeat;
    background-color: #46A358;
    border: 1px solid #46A358;
}




/* ниже стили для секции два цветка */
.more-plants{
    margin-bottom: 142px;
}
.floral{
    display: flex;
    gap: 28px;
}
.succulents_content{
    display: flex;
    align-items: center;
    background: #FBFBFB; 
    max-width: 586px;
}
.flower-content{
    padding-right: 16px;
}
.title-flower{
    font-family: 'cera_proregular';
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 9px;
    display: flex;
    justify-content: end;
    text-align: right;
}
.text-flower{
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 25px;
    text-align: right;
    width: 278px;
}
.find-btn{
    display: flex;
    justify-content: right;
}

.find_link{
    font-family: 'cera_proregular';
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    border-radius: 6px;
    padding: 11px 27px;
    border: 1px solid #46A358;
    background: #46a358;
    gap: 2px;
    display: flex;
    align-items: center;
}
.find_link:hover{
    border: 1px solid #46A358;
    background: #a1a1a15e;
    color: #46a358;
}



/* ниже это стили для Our Blog */
.blog{
    margin-bottom: 100px;
}
.blog-content{
    text-align: center;
}
.blog-title{
    font-family: 'cera_proregular';
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    margin-bottom: 15px;
}
.blog-text{
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    margin-bottom: 35px;
}
.our-blog-cart{
    display: flex;
     justify-content: space-between;
}
.blog-cart{
    background-color: #FBFBFB;
    width: 268px;
}
.blog-img{
    margin-bottom: 9px;
}
.ourblog-text{
    margin-left: 15px;
    margin-bottom: 13px;
}
.blog-text-cart{
    font-family: 'cera_proregular';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358; 
}
.title-cart{
    font-family: 'cera_proregular';
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    width: 202px;
    margin-bottom: 4px;
}
.our-blog-text{
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    width: 242px;
    margin-bottom: 9px;
}
.blog-link{
    font-family: 'cera_proregular';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    display: flex;
    gap: 3px;
}










/* ниже это стили для хтмл регистрация */
.registration{
    max-width: 500px;
    height: 656px;
    border: 1px solid #000000;
    margin: auto;
    margin-top: 35px;
}
.login{
    font-family: 'cera_proregular';
    font-weight: 500;
    font-size: 20px;
    color: #191616;
    margin-top: 52px;
    margin-bottom: 40px;
    text-align: center;
}
.line{
    color: #3d3d3d;
    padding-left: 10px;
    padding-right: 12px;
}
.register{
    color: #46A358;
}
.text_register{
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 13px;
    color: #3d3d3d;
    text-align: center;
    padding-bottom: 14px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
.input{
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 14px;
    width: 300px;
    height: 40px;
    margin-bottom: 16px;
    padding-left: 12px;
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
}
.button_register{
    display: flex;
    justify-content: center;
}
.submit-button{
    font-family: 'cera_proregular';
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #46A358;
    width: 300px;
    height: 45px;
    margin-bottom: 36px;
    cursor: pointer;
    color: #ffffff;
}
.submit-button:active{
    color: #00000094;
}
.submit-button:hover{
    border: 1px solid #46A358;
    background-color: #2b633b3c;
    color: #46a358;
}
.span_text{
    color: #FFFFFF;
}
.register_google_fb{
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 13px;
    color: #3d3d3d;
    text-align: center;
    margin-bottom: 27px;
}
.link_register{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.google_link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    gap: 9px;
    font-family: 'cera_proregular';
    font-weight: 500;
    font-size: 13px;
    color: #727272;
    text-decoration: none;
    list-style-type: none;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
}
.facebook_link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    gap: 4px;
    margin-top: 20px;
    list-style-type: none;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    font-family: 'cera_proregular';
    font-weight: 500;
    font-size: 13px;
    color: #727272;
    text-decoration: none;
}
.footer-line {
    margin-top: 36px;
    background-color: #46A358;
    width: 100%;
    height: 10px;
}